body {
    background-image: linear-gradient(to bottom right, #79070b, #032b52);
    color: white;
    font-family: "Garamond", serif;
    font-size: 20px;
    padding: 1%;
  }
  
  /* HEADER */
  header div {
    display: flex;
    width: 96%;
    height: 5%;
    align-items: center;
    background-image: linear-gradient(to top right, #dbbb07, #e9141b);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid white;
    margin: 1%;
  }
  
  header img {
    mix-blend-mode: darken;
    width: 5dvw;
    height: 100%;
  }
  
  nav {
    width: 90dvw;
  }
  
  header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  header a {
    color: aliceblue;
    text-decoration: none;
    font-size: 150%;
    font-weight: 500;
  }
  
  header a:hover {
    color: #740833;
    font-weight: 800;
  }
  
  /* WELCOME MESSAGE */
  #covercatalan {
    width: fit-content;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-size: cover;
    padding: 1%;
    margin: 2%;
    border: 1px solid white;
  }
  
  /* OTHER ARTICLES AND SECTIONS */
  article {
    display: flex;
    width: 100%;
    height: 50%;
  }
  
  #covermodules {
    width: 35%;
    border-radius: 15px;
    padding: 1%;
    margin: 2%;
    border: 1px solid white;
  }
  
  /* LISTS */
  #listsmodule {
    width: 96%;
    display: flex;
    align-items: baseline;
    background-image:url(../images/catalan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid white;
    margin: 1%;
  }
  
  #listsmodule div {
    width: 48%;
    background-color: #520411cc;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid white;
  }
  
  #listsmodule h3 {
    color: #dbbb07;
  }
  
  /* TABLE */
  table {
    width: 96%;
    border-radius: 15px;
    padding: 10px;
    margin: 1%;
    background-color: #04162785;
  }
  
  th {
    background-color: #79070b;
  }
  
  table,
  td,
  th,
  tr {
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
    border-radius: 15px;
  }
  
  /* IMAGE AND VIDEO SECTION */
  #imgvideomodule {
    width: 96%;
    display: flex;
    align-items: baseline;
    border-radius: 15px;
    padding: 10px;
    margin: 1%;
  }
  
  #imgvideomodule div {
    width: 48%;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid white;
  }
  
  #imgvideomodule img,
  video {
    width: 100%;
    height: fit-content;
  }
  
  /* AUDIO */
  audio {
    width: 96%;
    padding: 10px;
    margin: 1%;
  }
  
  /* FORM */
  form {
    display: flexbox;
  }
  fieldset {
    border: 0px solid black;
    font-size: x-large;
    text-align: center;
  }
  input,
  textarea,
  select {
    width: 85%;
    border-radius: 15px;
    padding: 1%;
    margin-left: 7%;
    font-size: large;
    margin-top: 1%;
  }
  
  input[type="button"] {
    background-color: black;
    color: white;
    font-size: xx-large;
  }
  
  input[type="button"]:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: xx-large;
  }
  
  /* FOOTER */
  footer {
    width: 96%;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    align-items: baseline;
    padding: 1%;
    margin: 1%;
    background-image: linear-gradient(
      to top left,
      rgb(26, 43, 43),
      rgb(46, 77, 77),
      rgb(66, 116, 116)
    );
  }
  
  footer div {
    width: 47%;
  }
  